body {
    background-color:rgb(119, 5, 5);
}

p {
    color: white;
}

.batata {
    font-style: italic;
    color: hotpink;
}

.batatinha {
    font-style: italic;
    color: hotpink;
}

h1 {text-align: center
    ;}

    .queijo {
        width: 150%;
    }