body {
    background-color: rgb(119, 5, 5);
    margin: 0px;
}

p {
    color: white;
}

.batata {
    font-style: italic;
    color: hotpink;
}

.batatinha {
    font-style: italic;
    color: hotpink;
}

h1 {
    text-align: center;
}

.queijo {
    width: 150%;
}

header {
    border: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

section {
    background: rgb(119, 5, 5);
    padding-bottom: 80px;
    padding-top: 80px;
}
